.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5faff;
  border: 1px solid black;
}

.login-form {
  border: 1px solid black;
  display: flex;
  width: 300px;
  height: 150px;
  gap: 11;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.login-input {
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.login-input:focus {
  border-color: #b9d7fc;
}

.login-button {
  width: 60%;
  padding: 15px;
  background-color: #b9d7fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #a8c9f0;
}

.login-options {
  margin-top: 20px;
  text-align: center;
}

.login-options a {
  color: #666;
  text-decoration: none;
  font-size: 14px;
}

.login-options .divider {
  margin: 0 10px;
  color: #e0e0e0;
}
